name: Build

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - 'configure.py'
      - 'MANIFEST.in'
      - 'pyproject.toml'
      - 'setup.cfg'
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/build.yml'
  pull_request:
    branches: [ main ]
    paths:
      - 'configure.py'
      - 'MANIFEST.in'
      - 'pyproject.toml'
      - 'setup.cfg'
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/build.yml'

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ macos-latest, ubuntu-latest ]
        include:
          - os: macos-latest
            path: ~/Library/Caches/pip
          - os: ubuntu-latest
            path: ~/.cache/pip

    steps:
    - uses: actions/checkout@v2

    - uses: actions/cache@v2
      with:
        path: ${{ matrix.path }}
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
         ${{ runner.os }}-pip-

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Download trained models
      run: |
        python configure.py

    - name: Update pip
      run: |
        python -m pip install --upgrade pip

    - name: Lint with flake8
      run: |
        pip install flake8
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Install
      run: |
        pip install .

    - name: Test
      run: |
        pytest --verbose
